@use "sass:math";

// Импорты стилей, css-фреймворков, переменных и т.п.
@import "./config/imports.scss";

//! -----------------------------------------------
//? --------------MAIN SETTINGS--------------------
//! -----------------------------------------------

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  line-height: 100%;
  scrollbar-width: 8px;
  scrollbar-color: $white #d6d6d6;

  // Chrome, Edge, and Safari
  &::-webkit-scrollbar {
    width: 8px;
    background-color: $white;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(#000, 20%);
    border-radius: 4px;
    background: #eee;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    border: 0px none #fff;
    background-color: lighten($white, 10%);
    -webkit-transition: all 280ms ease-in-out;
    transition: all 280ms ease-in-out;

    &:hover {
      background-color: $white;
    }
  }
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: $base_fz;
  font-family: $base_ff;
  font-style: normal;
  color: $base_color;
  background: $base_bg;
  overflow-x: hidden;
  backface-visibility: hidden;
  line-height: 1;
  -webkit-backface-visibility: hidden;
  height: 100%;
  min-width: $minWidth;

  // Скролл заблокирован
  &.lock {
    overflow: hidden;
    // touch-action: none;
  }
}

@media screen and (max-width: $mobileSmall) {
  body {
    overflow-x: scroll;
  }
}

// Оболочка wrapper
.full-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  min-height: 100vh;

  // Прижимаем footer
  > main {
    flex: 1 1 auto;
  }

  // Фикс для слайдеров
  > * {
    min-width: 0;
  }
}

// Добавляем скролл если ширина экрана меньше минимальной ширины
@media screen and (max-width: $minWidth) {
  body {
    overflow-x: scroll;
  }
}

// Отступ контентной части от шапки сайта
.page {
  margin-top: $headerHeight;
}

//! ------------------------------------------------
//? ------------Container Options-------------------
//! ------------------------------------------------
// Ограничивающий контейнер

// Тип адаптива:
$responsiveType: 2;

// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам см. _variables.scss)

/*
  (i) Стили будут применяться ко
  всем классам содержащим *__container
  Например header__container, main__container и т.д.
*/

//? Контейнер
[class*="__container"] {
  max-width: $maxWidthContainer + $containerPadding * 2;
  margin: 0 auto;
  padding: 0 $containerPadding;
}

//* Отзывчивая
@if ($responsiveType==1) {
  [class*="__container"] {
    @if ($maxWidthContainer>0) {
      max-width: rem($maxWidthContainer);
      margin: 0 auto;
    }

    @if ($containerPadding>0) {
      padding: 0 rem(math.div($containerPadding, 2));
    }
  }
}

//* По брейк-поинтам
@else {
  [class*="__container"] {
    @media (max-width: $pc) {
      max-width: rem(1190);
      padding: 0 30px;
    }

    @media (max-width: $tablet) {
      max-width: rem(1000);
      padding: 0 16px;
    }

    @media (max-width: $mobile) {
      // max-width: rem(640);
      padding: 0 16px;
    }

    @media (max-width: $mobileSmall) {
      max-width: rem(320);
      padding: 0 10px;
    }
  }
}

//! ------------------------------------------------
//? -------------Dynamical Container----------------
//! ------------------------------------------------
// Динамический контейнер
// Используется для слайдеров
// Которые выходят за ширину экрана

[class*="__dynamic-container"] {
  max-width: $maxWidthContainer + $containerPadding * 2;
  margin: 0 auto;
  padding: 0 $containerPadding;
}

@media (max-width: $pc) {
  [class*="__dynamic-container"] {
    padding: 0 30px;
  }
}

@media (max-width: $tablet) {
  [class*="__dynamic-container"] {
    padding: 0 20px;
  }
}

@media (max-width: $mobile) {
  [class*="__dynamic-container"] {
    max-width: calc(100vw - 3px);
    padding: 0 0 0 16px;
  }
}

@media (max-width: $mobileSmall) {
  [class*="__dynamic-container"] {
    max-width: calc(100vw - 14px);
    padding: 0 0 0 14px;
  }
}

@media (max-width: $mobileXSmall) {
  [class*="__dynamic-container"] {
    max-width: 100vw;
    min-width: 320px;
    padding: 0 10px;
    margin: 0;
  }
}

//! -----------------------------------------------
//? ------------Typographic SETTINGS---------------
//! -----------------------------------------------

h1,
h2,
h3,
h4,
h5,
h6,
p {
  cursor: default;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
}

a {
  cursor: pointer;
  font-family: inherit;
  color: inherit;
  text-decoration: none;
  @include defaultTransition();

  &:hover {
    color: $base_hover;
    @include defaultTransition();
  }
}

span {
  display: inline-block;
}

ul,
ol {
  list-style-type: none;
}

input {
  outline: none;
  border: none;
}

input,
textarea {
  &:focus,
  :active {
    outline: none;
  }
}

//! ------------------------------------------------
//? -------------------Buttons----------------------
//! ------------------------------------------------

button {
  outline: none;
  border: transparent;
  background: transparent;
  cursor: pointer;
}

//! ------------------------------------------------
//? -------------------Reused-----------------------
//! ------------------------------------------------

//! ------------------------------------------------
//? -----------------KEYFRAMES----------------------
//! ------------------------------------------------

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}
